# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python 
# azure-monitor-opentelemetry 

azure-ai-projects==2.0.0b1
azure-ai-agents==1.2.0b6
#azure-ai-projects==1.1.0b4
azure-ai-agents
azure-identity
python-dotenv
